@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@font-face {
	font-family: vcr_font;
	src: url(font/VCR_OSD_MONO_1.001.ttf) format('truetype');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
}
.container {
	margin: auto;
}
.memory-game {
	margin: auto;
	width: 500px;
	height: 520px;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
	margin-bottom: 10px;
}
.memory-card {
	width: calc(25% - 10px);
	height: calc(33.33% - 10px);
	position: relative;
	margin: 5px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.frontface,
.backface {
	width: 100%;
	height: 80%;
	position: absolute;
	padding: 10px;
	backface-visibility: hidden;
}
.memory-card:active {
	transform: scale(0.97);
	transition: transform 0.2s;
}
.memory-card.flip {
	transform: rotateY(180deg);
}
.backface {
	transform: rotateY(180deg);
}
.head {
	margin-bottom: 10px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.head p,
.head span {
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 26px;
	font-weight: 700;
}

h1 {
	color: red;
	font-family: vcr_font;
	font-weight: 500;
	font-size: 35px;
}
.title {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.head button {
	font-family: 'Amatic SC', cursive;
	color: white;
	border-radius: 5px;
	padding: 0 20px;
	background: none;
	font-size: 28px;
	border: 2px solid white;
	font-weight: 700;
	margin-left: 200px;
}
.head button:hover {
	color: red;
	border: 2px solid red;
}
.visibilty {
	visibility: hidden;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	background: rgba(255, 255, 255, 1);
	padding: 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.modal h2 {
	font-family: 'Amatic SC', cursive;
	color: red;
	font-weight: 700;
	font-size: 45px;
}
.modal p {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 22px;
	color: black;
}
.modal span {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	color: red;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}
@media only screen and (max-width: 1279px) {
	.modal {
		width: 40%;
		height: 30%;
		padding: 0rem;
	}
	.modal h2 {
		font-size: 40px;
	}
	.modal p {
		font-size: 18px;
	}
}
@media only screen and (max-width: 1130px) {
	.modal h2 {
		font-size: 25px;
	}
	.modal p {
		font-size: 14px;
	}
}
@media only screen and (max-width: 747px) {
	.memory-game {
		width: 450px;
		height: 470px;
	}

	.modal h2 {
		font-size: 20px;
	}
	.modal p {
		font-size: 10px;
	}
	.modal {
		width: 30%;
		height: 15%;
	}
}
@media only screen and (max-width: 570px) {
	.modal h2 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 480px) {
	.memory-game {
		width: 400px;
		height: 420px;
	}
	.head p,
	.head span {
		font-size: 23px;
	}
	.head button {
		padding: 0 10px;
		font-size: 23px;
		margin-left: 150px;
	}
	h1 {
		font-size: 30px;
	}
	.modal {
		width: 40%;
		height: 10%;
	}
	.modal h2 {
		font-size: 16px;
	}
}
@media only screen and (max-width: 435px) {
	.memory-game {
		width: 350px;
		height: 370px;
	}
	.head p,
	.head span {
		font-size: 22px;
	}
	.head button {
		padding: 0 8px;
		font-size: 22px;
		margin-left: 150px;
	}
	h1 {
		font-size: 27px;
	}
	.modal {
		width: 60%;
		height: 20%;
	}
	.modal h2 {
		font-size: 15px;
	}
	.modal p {
		font-size: 10px;
	}
}
@media only screen and (max-width: 388px) {
	.memory-game {
		width: 300px;
		height: 320px;
	}
	.head p,
	.head span {
		font-size: 20px;
	}
	.head button {
		padding: 0 5px;
		font-size: 20px;
		margin-left: 100px;
	}
	h1 {
		font-size: 24px;
	}
}
